@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@500&display=swap');

.center-on-screen {
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.logo-text {
  font-family: 'Sansita Swashed', cursive;
  font-size: 1.4rem;
}

.mt {
  margin-top:70px;
}

/* [1] The container */
.img-hover-zoom, .corner.label {
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img, .corner.label i {
  transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img, .corner.label:hover i {
  transform: scale(1.5);
}